<footer class="footer containers">
  <div class="footer-content">
    <!-- About -->
    <div class="footer-about">
      <h4>About Us</h4>
      <p>
        We are a clothing brand that offers stylish and comfortable hoodies. Our
        mission is to provide high-quality, affordable clothing for everyone.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#home">Mission</a></li>
        <li><a href="#shopProduct">Products</a></li>
        <li><a href="#trackSuits">Tracksuits</a></li>
        <li><a href="#newDrop">New Drops</a></li>
        <li><a href="#ourHoodies">Our Hoodies</a></li>
      </ul>
    </div>

    <!-- Social Links -->
     <div class="footer-socials">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="https://www.instagram.com/hustlestar_clothing?igsh=bXduNDlhOHczb3Ry&utm_source=qr" target="_blank"><i class='bx bxl-instagram'></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-tiktok'></i></a></li>
        <li><a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
      </ul>
     </div>

    <!-- Contact -->
    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p><a href="mailto:pabimamie@gmail.com">Email: support@hustlestars.com</a></p>
      <p><a href="tel:+2207709979">Phone: +220 770 9979</a></p>
    </div>
  </div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <p>&copy; 2025 Huslestars Clothing. All rights reserved.</p>
  </div>
</footer>
