/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Raleway Font Link */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Raleway', sans-serif;
}
:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
  ---footer-bg-color: #f6f6f6;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
  animation: fadeIn .5s;
}

@keyframes fadeIn{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}

/* All The Containers */
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
  /* background-color: #764567; */
}
section {
  padding: 4rem 0 3rem;
  /* background-color: var(--main-color); */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 600;
}
/* Applyin Text Shadows To The Headings */
.logo,
.hero_heading,
.section-title {
  text-shadow: 2px 2px 4px #aca9bfaa;
}
.section-title {
  text-transform: capitalize;
}
#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}
/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}
.cart.cart-active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  width: 2.4rem;
  outline-color: var(--main-color);
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--text-color);
}
.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--text-color);
  margin-top: 1.5rem;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.whatsapp-btn {
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: 500;
  cursor: pointer;
  background-color: var(--main-color);
  text-align: center;
}
.whatsapp-btn:hover {
  background: var(--text-color);
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
/* Hero Section Starts Here*/
.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.882),
      rgba(255, 255, 255, 0.808)
    ),
    url(/assets/images/heroimage.jpg);
  background-size: cover;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6;
}
.hero_heading {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.hero-grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 330px;
  background: var(--bg-color);
  margin-bottom: -250px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.hero-grid-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topline {
  font-size: 0.7rem;
  font-weight: 500;
}
.head-multitext {
  display: block;
  margin-bottom: 1rem;
}
.multitext {
  color: var(--main-color);
  text-transform: capitalize;
}
.hero-grid-item_paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
.hero-grid-item_paragraph span {
  font-weight: 600;
}
/* Hero Section Ends Here */
/* Section Shop Product*/
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.shop {
  margin-top: 8rem;
}
/* Shop Content */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.product-box {
  position: relative;
}
.product-box:hover {
  padding: 10px;
  transition: 0.4s;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-title {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}
.add-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background: hsl(249, 32%, 17%);
}
/* New Drop Section */
.new-drop {
  margin-top: 3rem;
  /* background: var(--main-color); */
}
.drop-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 20px;
}
.section-title {
  text-align: center;
}

.drop-container .product-box {
  max-width: 300px;
  /* background: var(--main-color); */
}
.drop-container .product-box:hover {
  padding: 5px;
  border: 0;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  padding-top: 100px;
  display: none;
  z-index: 999;
}
.close {
  display: block;
  position: absolute;
  top: 75px;
  right: 20px;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
}
.modal-content {
  display: block;
  width: 50%;
  max-width: 400px;
  margin: auto;
  border-radius: 6px;
}
#caption {
  display: block;
  width: 80%;
  max-width: 700px;
  color: #fff;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  padding-top: 0.5rem;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Tracksuit Section */
.tracksuit {
  /* background-color: #dd7171; */
  width: 70%;
  height: auto;
  margin-top: 3rem;
}

.tracksuit-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tracksuit-head--left .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.3;
  width: 80%;
}

.button-link {
  background-color: #040404;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.button-link a {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
}

.button-link:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  margin-top: 5rem;
}

.inner_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  overflow: hidden;
}

.inner_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}
.gallery-item {
  position: relative;
}
.pricing {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0.5rem;
  padding-right: 1rem;
  opacity: 0;
  transition: 0.4s;
}
.gallery-item:hover .pricing {
  opacity: 1;
}

.pricing .product-title {
  font-size: 0.9rem;
}

.pricing .whatsapp-btn {
  margin-right: 5px;
  /* background: red; */
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery .gallery-item {
  width: 100%;
  overflow: hidden;
}

.gallery .product-box:hover {
  padding: 0;
  transition: 0.4s;
}

/* Hoodie Section */
.hoodie__section {
  /* height: 700px; */
  /* background: red; */
  margin: 0 auto;
}

.hoodie__container {
  width: 100%;
  max-width: 1140px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.hoodie__container-items {
  display: flex;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  animation: slide 5s infinite alternate;
  /* transition: margin 0.3s ease; */
}

.hoodie__container-item:hover ~ .hoodie__container-items,
.hoodie__container-items:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
    /* Start at the first image */
  }

  50% {
    transform: translateX(-33.33%);
    /* Move to the second image */
  }

  100% {
    transform: translateX(-66.66%);
    /* End at the last image */
  }
}

.hoodie__container-item {
  /* display: flex; */
  grid-template-columns: none;
  margin: 0 10px;
}
.hoodie__container-item:hover {
  padding: 0;
  border: 0;
}
.hoodie__container-item img {
  width: 310px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Testimonial Section */
.testimonial-section {
  display: grid;
  place-items: center;
  text-align: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-content {
  position: relative;
  width: 80%;
  background-color: #ffffff;
  margin-top: 30px;
  overflow: hidden;
}

.testimonial-slide {
  position: relative;
  text-align: center;
  height: 300px;
}

.testimonial {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  padding: 20px 40px;
}

.testimonial .person {
  font-size: 1rem;
  font-weight: 600;
}

.testimonial * + * {
  margin-top: 10px;
}

.occupation {
  font-weight: 600;
}

.testimonial p {
  font-size: 1.1rem;
}

.testimonial.actives {
  display: block;
  opacity: 1;
  animation: scrollIn 1s ease-in-out forwards;
}

.testimonial.scroll-out-left {
  animation: scrollOutLeft 1s ease-in-out forwards;
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scrollOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Footer Section */
.footer {
  background-color: var(---footer-bg-color);
  color: var(--text-color);
  padding: 3rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-about,
.footer-links,
.footer-socials,
.footer-contact {
  width: 30%;
}

.footer-about h4,
.footer-links h4,
.footer-socials h4,
.footer-contact h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
}

.footer-links a:hover {
  color: var(--main-color);
}

.footer-contact a {
  color: var(--text-color);
}

.footer-socials i {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid #888888;
  padding-top: 1rem;
}
/* 
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}
.preloader img {
  width: 50px;
}

.hide-preloader {
  visibility: hidden;
  z-index: -999;
} */

/* Making it Responsive For Mobile and Tablet */
/* Hero Section */
@media (max-width: 1080px) {
  section {
    padding: 3rem 0 2rem; /* Adding Padding Top3rem Left & Right:0 Bottom:0 tO All The Sections*/
    /* background: plum; */
  }
  .container {
    margin: 0 auto; /*Container margin-Top-Bottom:0 Left & Right to 0*/
    width: 90%;
  }
}

/* I Want The Shop Section Titlt To Have Some Padding-Top To The Hero Section */
@media (min-width: 1060px) and (max-width: 1079px) {
  .shop-title {
    padding-top: 7rem;
  }
}

@media (max-width: 1060px) {
  .nav {
    padding: 15px;
  }
  .hero {
    width: 100%;
  }
  .hero-grid {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0; /* It May B Use*/
    padding: 40px 10px;
  }
  .hero-grid-item:nth-child(2) {
    display: none;
  }
  .hero_heading {
    width: 60%;
    font-size: 1.2rem;
    padding-top: 3rem;
  }
  .head-multitext {
    margin-bottom: 0.8rem;
  }
  /* Nav Hero Section Done */
}

/* Track Suit Section */
@media (max-width: 991px) {
  .tracksuit-head {
    padding: 0 0.1rem;
  }
  /* 
  .tracksuit-head {
    flex-direction: column;
    align-items: start;
  } */

  .tracksuit-head--left .title {
    font-size: 1.2rem;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    margin-top: 2rem;
    gap: 12px;
  }

  .gallery .gallery-item {
    width: 100%;
    height: auto;
  }
}

/* Larger SCreens For Ipads */
@media (max-width: 768px) {
  .nav {
    padding: 15px;
  }
  .product-title {
    font-size: 1rem;
  }

  /* Hoodie Section styling */
  .hoodie__container-items {
    padding: 0.5rem 0rem;
  }

  /* Footer Section */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    width: 100%;
    text-align: center;
  }

  .footer-about h4,
  .footer-links h4,
  .footer-contact h4 {
    font-size: 1.2rem;
  }

  .footer-links ul {
    padding: 0;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .footer-socials {
    text-align: center;
  }

  .testimonial-content {
    margin-top: 0;
  }

  .testimonial {
    padding: 0 10px;
  }

  .testimonial img {
    width: 75px;
    height: 75px;
  }

  .testimonial .person {
    font-size: 0.9rem;
  }

  .testimonial .occupation {
    font-size: 0.9em;
  }
}

/* Medium Screens */
@media (max-width: 480px) {
  .cart {
    width: 320px;
  }

  .cart-product-title {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  /* Hero Section */
  .hero {
    height: 100%;
    padding-top: 4rem;
  }
  .hero_heading {
    width: 70%;
  }

  /* New Drop Section*/
  .new-drop {
    margin: 0 auto;
  }
  .drop-container .product-box {
    max-width: 100%;
  }
  .modal-content {
    width: 80%;
  }
  .close {
    top: 60px;
  }

  /* Tracksuit Section */
  .tracksuit-head--left .title {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

    .tracksuit-head {
      flex-direction: column;
      align-items: start;
    }

  .button-link {
    padding: 1rem 2rem;
  }

  .button-link a {
    font-size: 0.95rem;
  }

  .inner_grid {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  /* Footer Section */
  .footer {
    padding: 2rem 1rem;
  }

  .footer-content {
    padding: 0 1rem;
  }

  .footer-about h4,
  .footer-links h4,
  .footer-contact h4 {
    font-size: 1rem;
  }

  .footer-links a {
    font-size: 0.9rem;
  }

  .footer-bottom {
    font-size: 0.9rem;
  }
}

/* Smaller Screens */
@media (max-width: 360px) {
  .logo {
    font-size: 1rem;
  }
  /* Cart */
  #cart-icon {
    font-size: 1.5rem;
  }
  .cart {
    width: 260px;
  }
  /* Hero Section */
  .hero_heading {
    width: 65%;
    font-size: 1.2rem;
    padding-top: 2.5rem;
  }
  /* Nav Hero Section Done */
}
