<section class="hoodie__section container" id="ourHoodies">
  <h1 class="section-title">Our Hoodies</h1>
  <div class="hoodie__container">
    <div class="hoodie__container-items">
      {% assign products = site.data.products | where: "category", "Hooddie" |
      where: "visibility", "Yes" %} 
      {% for product in products %}

      <div class="hoodie__container-item product-box">
        <img
          src="/hustlestargm/assets/images{{ product.thumbnail }}"
          alt="Go Grab Our Hoodie Now!"
          class="product-img modal-triger"
        />
        <h2 class="product-title">
          {{ product.title }}
        </h2>
        <span class="price"> 
          {{ product.price }} 
        </span>
        <i class="bx bx-shopping-bag add-cart" data-id="{{ product.id }}"></i>
      </div>

      {% endfor %}

      <!-- Second hoodie -->
      <!-- <div class="hoodie__container-item product-box">
        <img src="/assets/images/hwomen.png" alt="Go Grab Our Hoodie Now" class="product-img modal-triger" />
        <h2 class="product-title">Onyx Hoodie</h2>
        <span class="price">GMDD1000</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-2"></i>
      </div> -->
    </div>
  </div>
</section>
