<section class="hoodie__section container" id="ourHoodies">
  <h1 class="section-title">Our Hoodies</h1>
  <div class="hoodie__container">
    <div class="hoodie__container-items">
      <!-- First hoodie -->
      <div class="hoodie__container-item product-box">
        <img src="/assets/images/hoodieorange.png" alt="" class="product-img" />
        <h2 class="product-title">Blaze Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-1"></i>
      </div>

      <!-- Second hoodie -->
      <div class="hoodie__container-item product-box">
        <img src="/assets/images/hoodieBlack.PNG" alt="" class="product-img" />
        <h2 class="product-title">Onyx Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-2"></i>
      </div>

      <!-- Third hoodie -->
      <div class="hoodie__container-item product-box">
        <img
          src="/assets/images/hoodie-orange.png"
          alt=""
          class="product-img"
        />
        <h2 class="product-title">Blaze Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-3"></i>
      </div>

      <!-- Fourth hoodie -->
      <div class="hoodie__container-item product-box">
        <img src="/assets/images/hoodieBlack.PNG" alt="" class="product-img" />
        <h2 class="product-title">Onyx Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-4"></i>
      </div>

      <!-- Fifth hoodie -->
      <div class="hoodie__container-item product-box">
        <img src="/assets/images/hoodieorange.png" alt="" class="product-img" />
        <h2 class="product-title">Blaze Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-5"></i>
      </div>

      <!-- Sixth hoodie -->
      <div class="hoodie__container-item product-box">
        <img src="/assets/images/hoodieBlack.PNG" alt="" class="product-img" />
        <h2 class="product-title">Onyx Hoodie</h2>
        <span class="price">$25</span>
        <i class="bx bx-shopping-bag add-cart" data-id="hoodie-6"></i>
      </div>
    </div>
  </div>
</section>
