<section class="new-drop container" id="newDrop">
    <h1 class="section-title">New Drops</h1>
    <div class="drop-container">
     <div class="product-box drop-box">
         <img src="/assets/images/short-black1.png" alt="Grab your new drop now!" class="product-img modal-triger">
         <h2 class="product-title">Shine with ambition</h2>
         <span class="price">GMD600</span>
         <i class='bx bx-shopping-bag add-cart' data-id="newdrop-1"></i>
     </div>
     <!--  -->
     <div class="product-box">
         <img src="/assets/images/blank.png" alt="Grab your new drop now!" class="product-img modal-triger">
         <h2 class="product-title">Midnight Hustle tee</h2>
         <span class="price">GMD500</span>
         <i class='bx bx-shopping-bag add-cart' data-id="newdrop-2"></i>
     </div>
     <!--  -->
     <div class="product-box">
         <img src="/assets/images/short-black1 (3).png" alt="Grab your new drop now!" class="product-img modal-triger">
         <h2 class="product-title">SHINE WITH AMBITION</h2>
         <span class="price">GMD600</span>
         <i class='bx bx-shopping-bag add-cart' data-id="newdrop-3"></i>
     </div>
    </div>

    <div id="myModal" class="modal">
     <label class="close">&times;</label>
     <img class="modal-content" id="img01">
     <div id="caption"></div>
    </div>
 </section>
