<section class="new-drop container" id="newDrop">
    <!-- <h1 class="section-title">New Drops</h1> -->
    <h1 class="section-title">Hustle Collection</h1>

    <div class="drop-container">

        {% assign products = site.data.products | where: "category", "Hustle-Collection" | where: "visibility", "Yes" %}
        {% for product in products %}
     <div class="product-box drop-box">
         <img src="/hustlestargm/assets/images{{ product.thumbnail }}" alt="Grab Your New Hustle T-Shirt Now!" class="product-img modal-triger">
         <h2 class="product-title">
            {{ product.title }}
         </h2>
         <span class="price">
            {{ product.price }}
         </span>
         <i class='bx bx-shopping-bag add-cart' data-id="{{ product.id }}"></i>
     </div>

    {% endfor %}

    
     <!-- <div class="product-box">
         <img src="/assets/images/blank.png" alt="Grab your new drop now!" class="product-img modal-triger">
         <h2 class="product-title">Midnight Hustle tee</h2>
         <span class="price">GMD500</span>
         <i class='bx bx-shopping-bag add-cart' data-id="newdrop-2"></i>
     </div> -->

    <div id="myModal" class="modal">
     <label class="close">&times;</label>
     <img class="modal-content" id="img01">
     <div id="caption"></div>
    </div>
 </section>
