<section class="shop container" id="shopProduct">
    <h2 class="section-title shop-title">Shop Products</h2>
    <!-- Content -->
     <div class="shop-content">


      {% assign products = site.data.products | where: "category", "T-Shirt" | where: "visibility", "Yes" %}
      {% for product in  products %}
         <div class="product-box">
            <img src="/hustlestargm/assets/images{{ product.thumbnail }}" alt="" class="product-img">
            <h2 class="product-title">
               {{ product.title }}
            </h2>
            <span class="price">
                {{ product.price }}
            </span>
            <i class='bx bx-shopping-bag add-cart' data-id="{{ product.id }}"></i>
         </div>
      {% endfor %}
       
     </div>
<div class="preloader"><img src="/hustlestargm/assets/images/Snooker.gif" alt=""></div>
 </section>