<section class="shop container" id="shopProduct">
    <h2 class="section-title shop-title">Shop Products</h2>
    <!-- Content -->
     <div class="shop-content">

      {% for product in site.data.products %}
         <div class="product-box">
            <img src="/assets/images{{ product.thumbnail }}" alt="" class="product-img">
            <h2 class="product-title">
               {{ product.title }}
            </h2>
            <span class="price">
               GMD {{ product.price }}
            </span>
            <i class='bx bx-shopping-bag add-cart' data-id="shop-product-1"></i>
         </div>
      {% endfor %}
       
     </div>
 </section>