<section class="tracksuit container" id="trackSuits">
  <div class="tracksuit-head">
    <div class="tracksuit-head--left">
      <h1 class="title">
        NEW COLLECTION EXCLUSIVE TRACKSIUTS 
      </h1>
    </div>
    <div class="button-link">
      <a href="#" target="_blank ">More Info</a>
    </div>
  </div>
  <div class="gallery">

    {% assign tracksuit_first = site.data.products | where: "id", 12 | first %}
    <figure class="gallery-item gallery-item--1 product-box">
      <img
        src="/hustlestargm/assets/images{{ tracksuit_first.thumbnail }}"
        alt="Go grab our tracksuit now"
        class="gallery-img product-img modal-triger product-img"
      />
      <div class="pricing">
        <span class="price">
          {{ tracksuit_first.price }}
        </span>
        <h2 class="product-title">Tracksuit</h2>
        <i class="bx bx-shopping-bag add-cart whatsapp-btn">Buy Now</i>
      </div>
    </figure>

    <div class="inner_grid">

      {% assign products = site.data.products | where: "category", "TrackSuits" | where: "visibility", "Yes" %}
      {% for product in  products offset: 1 limit: 4 %}
        <figure class="gallery-item gallery-item--2">
          <img
            src="/hustlestargm/assets/images{{ product.thumbnail }}"
            alt="Go grab our tracksuit now"
            class="gallery-img product-img modal-triger"
          />
          <h2 class="product-title">
            {{ product.title }}
          </h2>
          <span class="price">
              GMD {{ product.price }}
          </span>
          <div class="pricing">
              <i class="bx bx-shopping-bag add-cart whatsapp-btn">Buy Now</i>
          </div>
        </figure>
      {% endfor %}

    </div>

    {% assign tracksuit_last = site.data.products | where: "id", 17 | first %}
    <figure class="gallery-item gallery-item--1 product-box">
      <img
        src="/hustlestargm/assets/images{{ tracksuit_last.thumbnail }}"
        alt="Go grab our tracksuit now"
        class="gallery-img product-img modal-triger product-img"
      />
      <div class="pricing">
        <span class="price">
         {{ tracksuit_last.price }}
        </span>
        <h2 class="product-title">Tracksuit</h2>
        <i class="bx bx-shopping-bag add-cart whatsapp-btn">Buy Now</i>
      </div>
    </figure>


  </div>
</section>
