<section class="testimonial-section container" id="testimonial">
  <div class="head">
    <h1 class="section-title">testimonials</h1>
  </div>
  <!--  -->
  <div class="testimonial-content">
    <div class="testimonial-slide">
      <!-- testimonial 1 -->
      <div class="testimonial">
        <h6 class="person">Saikou_Spearr</h6>
        <p>
          It's so motivated when ever I thought about huslestar_clothing man dem
          bad, celebrate ya hustle with them get yours and tell your friends
          about innit 🔥
        </p>
      </div>
      <!-- testimonial 2 -->
      <div class="testimonial">
        <h6 class="person">Posteh_official</h6>
        <p class="occupation">Comedian</p>
        <p>
          When I firts got it I thought it was a readymade shirt probably
          imported because of the quality of the shirt and the quality of the
          printing <br />
          it was late when a guy told me someone owns this brand and it's
          Gambian I felt proud.
        </p>
      </div>
      <!-- testimonial 3 -->
      <div class="testimonial">
        <h6 class="person">S_Njie</h6>
        <!-- <p class="occupation">Artist</p> -->
        <p>
         Your empowering and dedications has made a significant impact in the business owners! I appreciate your willingness and commitment
        </p>
      </div>
      <!-- testimonial 4 -->
      <div class="testimonial">
        <h6 class="person">Jum</h6>
        <!-- <p class="occupation">Artist</p> -->
        <p>
          I appreciate this fam, topnotch it will be my favourite brand for sure
        </p>
      </div>
    </div>
  </div>
</section>
